<h1>All Clone Book Users</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Friend Status</th>
	<tr>

	<% @users.each do |user| %>
	<tr>
		<td>
			<%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
		</td>

		<td>
			<%= link_to 'Add Friend Button or Status Here', '#' %>
		</td>

		<td>
			<% if current_user == user %>
			<%= link_to 'Close Account', user_path(user), method: :delete %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>